@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:'GillSans';
  src:url('./assets/fonts/newfont.woff') format('woff'), url('./assets/fonts/newfont.woff2') format('woff2');
}

@font-face{
  font-family:'CeraGRMedium';
  src:url('./assets/fonts/CeraGRMedium.woff') format('woff'), url('./assets/fonts/CeraGRMedium.woff2') format('woff2');
}


